Core/EduActivity.Core/Service References/ApConnService/SOAP.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://KMUGService/PasswordChange" elementFormDefault="qualified" targetNamespace="http://KMUGService/PasswordChange" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PasswordChangeReturnCollect">
    <xs:sequence>
      <xs:element minOccurs="0" name="EmployeeID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsChangeDone" type="xs:boolean" />
      <xs:element minOccurs="0" name="ShowMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SystemMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PasswordChangeReturnCollect" nillable="true" type="tns:PasswordChangeReturnCollect" />
</xs:schema>