Core/EduActivity.Core/Service References/ApConnService/SOAP4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://KMUGService/GetDBConnection" elementFormDefault="qualified" targetNamespace="http://KMUGService/GetDBConnection" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="GetDBReturnCollect">
    <xs:sequence>
      <xs:element minOccurs="0" name="ConnectionString" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConnGetTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="HospCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClientIP" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetDBReturnCollect" nillable="true" type="tns:GetDBReturnCollect" />
</xs:schema>