Core/EduActivity.Core/Service References/PasswordService/PasswordServiceWCFService7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/KMUH.PasswordService.ApplicationLayer.DTO.SystemAPI.StructureClass" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/KMUH.PasswordService.ApplicationLayer.DTO.SystemAPI.StructureClass" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://intraap.server.kmuh.org.tw/WEB/PasswordService/PasswordServiceWCFService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ValidatePasswordClass">
    <xs:sequence>
      <xs:element minOccurs="0" name="AuthPoint" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClientIP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmpCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RequestAuthPasswordLevel" type="tns:EnumClass.EnumRequestAuthPasswordLevel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValidatePasswordClass" nillable="true" type="tns:ValidatePasswordClass" />
  <xs:simpleType name="EnumClass.EnumRequestAuthPasswordLevel">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Any" />
      <xs:enumeration value="LV1" />
      <xs:enumeration value="LV2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="EnumClass.EnumRequestAuthPasswordLevel" nillable="true" type="tns:EnumClass.EnumRequestAuthPasswordLevel" />
  <xs:simpleType name="EnumClass.EnumResultAuthPasswordLevel">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AuthFail" />
      <xs:enumeration value="LV1" />
      <xs:enumeration value="LV2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="EnumClass.EnumResultAuthPasswordLevel" nillable="true" type="tns:EnumClass.EnumResultAuthPasswordLevel" />
  <xs:complexType name="ResetPasswordClass">
    <xs:sequence>
      <xs:element minOccurs="0" name="AuthRunCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClientIP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmpCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResetPoint" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResetType" type="tns:EnumClass.EnumResetPasswordType" />
      <xs:element minOccurs="0" name="UserBirthday" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UserTaiwanID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResetPasswordClass" nillable="true" type="tns:ResetPasswordClass" />
  <xs:simpleType name="EnumClass.EnumResetPasswordType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="LV1Reset">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="LV2Reset">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="EnumClass.EnumResetPasswordType" nillable="true" type="tns:EnumClass.EnumResetPasswordType" />
  <xs:complexType name="ModifyPasswordClass">
    <xs:sequence>
      <xs:element minOccurs="0" name="AuthRunCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClientIP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmpCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EncryptType" type="tns:EnumClass.EnumEncryptType" />
      <xs:element minOccurs="0" name="GuidKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsAlreadyEncryptPassword" type="xs:boolean" />
      <xs:element minOccurs="0" name="ModifyPoint" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NewPassword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OldPassword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PasswordLevel" type="tns:EnumClass.EnumPasswordLevel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ModifyPasswordClass" nillable="true" type="tns:ModifyPasswordClass" />
  <xs:simpleType name="EnumClass.EnumEncryptType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="MD5" />
      <xs:enumeration value="SHA1" />
      <xs:enumeration value="SHA256" />
      <xs:enumeration value="SHA512" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="EnumClass.EnumEncryptType" nillable="true" type="tns:EnumClass.EnumEncryptType" />
  <xs:simpleType name="EnumClass.EnumPasswordLevel">
    <xs:restriction base="xs:string">
      <xs:enumeration value="LV1" />
      <xs:enumeration value="LV2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="EnumClass.EnumPasswordLevel" nillable="true" type="tns:EnumClass.EnumPasswordLevel" />
  <xs:complexType name="CheckGuidKeyClass">
    <xs:sequence>
      <xs:element minOccurs="0" name="GuidKey" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CheckGuidKeyClass" nillable="true" type="tns:CheckGuidKeyClass" />
</xs:schema>