Core/EduActivity.Core/Service References/PasswordService/PasswordServiceWCFService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://intraap.server.kmuh.org.tw/WEB/PasswordService/PasswordServiceWCFService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KMUH.PasswordService.ApplicationLayer.DTO.SystemAPI.StructureClass" />
  <xs:import schemaLocation="http://intraap.server.kmuh.org.tw/WEB/PasswordService/PasswordServiceWCFService.svc?xsd=xsd3" namespace="http://KMUGPasswordService/ValidatePasswordReturnCollect" />
  <xs:import schemaLocation="http://intraap.server.kmuh.org.tw/WEB/PasswordService/PasswordServiceWCFService.svc?xsd=xsd5" namespace="http://KMUGPasswordService/PasswordReset" />
  <xs:import schemaLocation="http://intraap.server.kmuh.org.tw/WEB/PasswordService/PasswordServiceWCFService.svc?xsd=xsd6" namespace="http://KMUGPasswordService/PasswordChange" />
  <xs:import schemaLocation="http://intraap.server.kmuh.org.tw/WEB/PasswordService/PasswordServiceWCFService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/KMUH.PasswordService.ApplicationLayer.DTO.DataContract" />
  <xs:element name="ValidatePassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/KMUH.PasswordService.ApplicationLayer.DTO.SystemAPI.StructureClass" minOccurs="0" name="validateObject" nillable="true" type="q1:ValidatePasswordClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidatePasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://KMUGPasswordService/ValidatePasswordReturnCollect" minOccurs="0" name="ValidatePasswordResult" nillable="true" type="q2:ValidatePasswordReturnCollect" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidatePasswordWeb">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/KMUH.PasswordService.ApplicationLayer.DTO.SystemAPI.StructureClass" minOccurs="0" name="validateObject" nillable="true" type="q3:ValidatePasswordClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidatePasswordWebResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://KMUGPasswordService/ValidatePasswordReturnCollect" minOccurs="0" name="ValidatePasswordWebResult" nillable="true" type="q4:ValidatePasswordReturnCollect" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/KMUH.PasswordService.ApplicationLayer.DTO.SystemAPI.StructureClass" minOccurs="0" name="resetObject" nillable="true" type="q5:ResetPasswordClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://KMUGPasswordService/PasswordReset" minOccurs="0" name="ResetPasswordResult" nillable="true" type="q6:ResetPasswordReturnCollect" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InitPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/KMUH.PasswordService.ApplicationLayer.DTO.SystemAPI.StructureClass" minOccurs="0" name="resetObject" nillable="true" type="q7:ResetPasswordClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InitPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://KMUGPasswordService/PasswordReset" minOccurs="0" name="InitPasswordResult" nillable="true" type="q8:ResetPasswordReturnCollect" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/KMUH.PasswordService.ApplicationLayer.DTO.SystemAPI.StructureClass" minOccurs="0" name="modifyObject" nillable="true" type="q9:ModifyPasswordClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://KMUGPasswordService/PasswordChange" minOccurs="0" name="ModifyPasswordResult" nillable="true" type="q10:ModifyPasswordReturnCollect" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHostHospital">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHostHospitalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/KMUH.PasswordService.ApplicationLayer.DTO.DataContract" minOccurs="0" name="GetHostHospitalResult" nillable="true" type="q11:GetHostHospitalReturnCollect" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckGuidKey">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/KMUH.PasswordService.ApplicationLayer.DTO.SystemAPI.StructureClass" minOccurs="0" name="checkObject" nillable="true" type="q12:CheckGuidKeyClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckGuidKeyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/KMUH.PasswordService.ApplicationLayer.DTO.DataContract" minOccurs="0" name="CheckGuidKeyResult" nillable="true" type="q13:CheckGuidKeyReturnCollect" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckIdKey">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/KMUH.PasswordService.ApplicationLayer.DTO.SystemAPI.StructureClass" minOccurs="0" name="checkObject" nillable="true" type="q14:CheckGuidKeyClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckIdKeyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/KMUH.PasswordService.ApplicationLayer.DTO.DataContract" minOccurs="0" name="CheckIdKeyResult" nillable="true" type="q15:CheckGuidKeyReturnCollect" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmpMobile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="in_EmpCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmpMobileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/KMUH.PasswordService.ApplicationLayer.DTO.DataContract" minOccurs="0" name="GetEmpMobileResult" nillable="true" type="q16:KmuEmpDataReturnCollect" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BatchGenPwd">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="empcodelist" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BatchGenPwdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BatchGenPwdResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>