Core/EduActivity.Core/Service References/PasswordService/PasswordServiceWCFService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/KMUH.PasswordService.ApplicationLayer.DTO.DataContract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/KMUH.PasswordService.ApplicationLayer.DTO.DataContract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://intraap.server.kmuh.org.tw/WEB/PasswordService/PasswordServiceWCFService.svc?xsd=xsd8" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="GetHostHospitalReturnCollect">
    <xs:sequence>
      <xs:element minOccurs="0" name="ConnectHospital" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="HostIPAddress" nillable="true" type="q1:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetHostHospitalReturnCollect" nillable="true" type="tns:GetHostHospitalReturnCollect" />
  <xs:complexType name="CheckGuidKeyReturnCollect">
    <xs:sequence>
      <xs:element minOccurs="0" name="EmpCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmpName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExpireDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="GuidKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsValid" type="xs:boolean" />
      <xs:element minOccurs="0" name="ShowMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SystemMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CheckGuidKeyReturnCollect" nillable="true" type="tns:CheckGuidKeyReturnCollect" />
  <xs:complexType name="KmuEmpDataReturnCollect">
    <xs:sequence>
      <xs:element minOccurs="0" name="EmpCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmpGSM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmpMobile" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KmuEmpDataReturnCollect" nillable="true" type="tns:KmuEmpDataReturnCollect" />
</xs:schema>