Core/EduActivity.Core/Service References/PasswordService/PasswordServiceWCFService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PasswordServiceWCFService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://intraap.server.kmuh.org.tw/WEB/PasswordService/PasswordServiceWCFService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://intraap.server.kmuh.org.tw/WEB/PasswordService/PasswordServiceWCFService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/KMUH.PasswordService.Services.ErrorHandlers" />
      <xsd:import schemaLocation="http://intraap.server.kmuh.org.tw/WEB/PasswordService/PasswordServiceWCFService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://intraap.server.kmuh.org.tw/WEB/PasswordService/PasswordServiceWCFService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KMUH.PasswordService.ApplicationLayer.DTO.SystemAPI.StructureClass" />
      <xsd:import schemaLocation="http://intraap.server.kmuh.org.tw/WEB/PasswordService/PasswordServiceWCFService.svc?xsd=xsd3" namespace="http://KMUGPasswordService/ValidatePasswordReturnCollect" />
      <xsd:import schemaLocation="http://intraap.server.kmuh.org.tw/WEB/PasswordService/PasswordServiceWCFService.svc?xsd=xsd5" namespace="http://KMUGPasswordService/PasswordReset" />
      <xsd:import schemaLocation="http://intraap.server.kmuh.org.tw/WEB/PasswordService/PasswordServiceWCFService.svc?xsd=xsd6" namespace="http://KMUGPasswordService/PasswordChange" />
      <xsd:import schemaLocation="http://intraap.server.kmuh.org.tw/WEB/PasswordService/PasswordServiceWCFService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/KMUH.PasswordService.ApplicationLayer.DTO.DataContract" />
      <xsd:import schemaLocation="http://intraap.server.kmuh.org.tw/WEB/PasswordService/PasswordServiceWCFService.svc?xsd=xsd8" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPasswordServiceWCFService_ValidatePassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidatePassword" />
  </wsdl:message>
  <wsdl:message name="IPasswordServiceWCFService_ValidatePassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidatePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IPasswordServiceWCFService_ValidatePassword_ApplicationServiceErrorFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/KMUH.PasswordService.Services.ErrorHandlers" name="detail" element="q1:ApplicationServiceError" />
  </wsdl:message>
  <wsdl:message name="IPasswordServiceWCFService_ValidatePasswordWeb_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidatePasswordWeb" />
  </wsdl:message>
  <wsdl:message name="IPasswordServiceWCFService_ValidatePasswordWeb_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidatePasswordWebResponse" />
  </wsdl:message>
  <wsdl:message name="IPasswordServiceWCFService_ValidatePasswordWeb_ApplicationServiceErrorFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/KMUH.PasswordService.Services.ErrorHandlers" name="detail" element="q2:ApplicationServiceError" />
  </wsdl:message>
  <wsdl:message name="IPasswordServiceWCFService_ResetPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ResetPassword" />
  </wsdl:message>
  <wsdl:message name="IPasswordServiceWCFService_ResetPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ResetPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IPasswordServiceWCFService_ResetPassword_ApplicationServiceErrorFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/KMUH.PasswordService.Services.ErrorHandlers" name="detail" element="q3:ApplicationServiceError" />
  </wsdl:message>
  <wsdl:message name="IPasswordServiceWCFService_InitPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:InitPassword" />
  </wsdl:message>
  <wsdl:message name="IPasswordServiceWCFService_InitPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:InitPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IPasswordServiceWCFService_InitPassword_ApplicationServiceErrorFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/KMUH.PasswordService.Services.ErrorHandlers" name="detail" element="q4:ApplicationServiceError" />
  </wsdl:message>
  <wsdl:message name="IPasswordServiceWCFService_ModifyPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ModifyPassword" />
  </wsdl:message>
  <wsdl:message name="IPasswordServiceWCFService_ModifyPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModifyPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IPasswordServiceWCFService_ModifyPassword_ApplicationServiceErrorFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/KMUH.PasswordService.Services.ErrorHandlers" name="detail" element="q5:ApplicationServiceError" />
  </wsdl:message>
  <wsdl:message name="IPasswordServiceWCFService_GetHostHospital_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHostHospital" />
  </wsdl:message>
  <wsdl:message name="IPasswordServiceWCFService_GetHostHospital_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHostHospitalResponse" />
  </wsdl:message>
  <wsdl:message name="IPasswordServiceWCFService_GetHostHospital_ApplicationServiceErrorFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/KMUH.PasswordService.Services.ErrorHandlers" name="detail" element="q6:ApplicationServiceError" />
  </wsdl:message>
  <wsdl:message name="IPasswordServiceWCFService_CheckGuidKey_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckGuidKey" />
  </wsdl:message>
  <wsdl:message name="IPasswordServiceWCFService_CheckGuidKey_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckGuidKeyResponse" />
  </wsdl:message>
  <wsdl:message name="IPasswordServiceWCFService_CheckGuidKey_ApplicationServiceErrorFault_FaultMessage">
    <wsdl:part xmlns:q7="http://schemas.datacontract.org/2004/07/KMUH.PasswordService.Services.ErrorHandlers" name="detail" element="q7:ApplicationServiceError" />
  </wsdl:message>
  <wsdl:message name="IPasswordServiceWCFService_CheckIdKey_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckIdKey" />
  </wsdl:message>
  <wsdl:message name="IPasswordServiceWCFService_CheckIdKey_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckIdKeyResponse" />
  </wsdl:message>
  <wsdl:message name="IPasswordServiceWCFService_CheckIdKey_ApplicationServiceErrorFault_FaultMessage">
    <wsdl:part xmlns:q8="http://schemas.datacontract.org/2004/07/KMUH.PasswordService.Services.ErrorHandlers" name="detail" element="q8:ApplicationServiceError" />
  </wsdl:message>
  <wsdl:message name="IPasswordServiceWCFService_GetEmpMobile_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmpMobile" />
  </wsdl:message>
  <wsdl:message name="IPasswordServiceWCFService_GetEmpMobile_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmpMobileResponse" />
  </wsdl:message>
  <wsdl:message name="IPasswordServiceWCFService_GetEmpMobile_ApplicationServiceErrorFault_FaultMessage">
    <wsdl:part xmlns:q9="http://schemas.datacontract.org/2004/07/KMUH.PasswordService.Services.ErrorHandlers" name="detail" element="q9:ApplicationServiceError" />
  </wsdl:message>
  <wsdl:message name="IPasswordServiceWCFService_BatchGenPwd_InputMessage">
    <wsdl:part name="parameters" element="tns:BatchGenPwd" />
  </wsdl:message>
  <wsdl:message name="IPasswordServiceWCFService_BatchGenPwd_OutputMessage">
    <wsdl:part name="parameters" element="tns:BatchGenPwdResponse" />
  </wsdl:message>
  <wsdl:message name="IPasswordServiceWCFService_BatchGenPwd_ApplicationServiceErrorFault_FaultMessage">
    <wsdl:part xmlns:q10="http://schemas.datacontract.org/2004/07/KMUH.PasswordService.Services.ErrorHandlers" name="detail" element="q10:ApplicationServiceError" />
  </wsdl:message>
  <wsdl:portType name="IPasswordServiceWCFService">
    <wsdl:operation name="ValidatePassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IPasswordServiceWCFService/ValidatePassword" message="tns:IPasswordServiceWCFService_ValidatePassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPasswordServiceWCFService/ValidatePasswordResponse" message="tns:IPasswordServiceWCFService_ValidatePassword_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IPasswordServiceWCFService/ValidatePasswordApplicationServiceErrorFault" name="ApplicationServiceErrorFault" message="tns:IPasswordServiceWCFService_ValidatePassword_ApplicationServiceErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidatePasswordWeb">
      <wsdl:input wsaw:Action="http://tempuri.org/IPasswordServiceWCFService/ValidatePasswordWeb" message="tns:IPasswordServiceWCFService_ValidatePasswordWeb_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPasswordServiceWCFService/ValidatePasswordWebResponse" message="tns:IPasswordServiceWCFService_ValidatePasswordWeb_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IPasswordServiceWCFService/ValidatePasswordWebApplicationServiceErrorFault" name="ApplicationServiceErrorFault" message="tns:IPasswordServiceWCFService_ValidatePasswordWeb_ApplicationServiceErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ResetPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IPasswordServiceWCFService/ResetPassword" message="tns:IPasswordServiceWCFService_ResetPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPasswordServiceWCFService/ResetPasswordResponse" message="tns:IPasswordServiceWCFService_ResetPassword_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IPasswordServiceWCFService/ResetPasswordApplicationServiceErrorFault" name="ApplicationServiceErrorFault" message="tns:IPasswordServiceWCFService_ResetPassword_ApplicationServiceErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="InitPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IPasswordServiceWCFService/InitPassword" message="tns:IPasswordServiceWCFService_InitPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPasswordServiceWCFService/InitPasswordResponse" message="tns:IPasswordServiceWCFService_InitPassword_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IPasswordServiceWCFService/InitPasswordApplicationServiceErrorFault" name="ApplicationServiceErrorFault" message="tns:IPasswordServiceWCFService_InitPassword_ApplicationServiceErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModifyPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IPasswordServiceWCFService/ModifyPassword" message="tns:IPasswordServiceWCFService_ModifyPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPasswordServiceWCFService/ModifyPasswordResponse" message="tns:IPasswordServiceWCFService_ModifyPassword_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IPasswordServiceWCFService/ModifyPasswordApplicationServiceErrorFault" name="ApplicationServiceErrorFault" message="tns:IPasswordServiceWCFService_ModifyPassword_ApplicationServiceErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHostHospital">
      <wsdl:input wsaw:Action="http://tempuri.org/IPasswordServiceWCFService/GetHostHospital" message="tns:IPasswordServiceWCFService_GetHostHospital_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPasswordServiceWCFService/GetHostHospitalResponse" message="tns:IPasswordServiceWCFService_GetHostHospital_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IPasswordServiceWCFService/GetHostHospitalApplicationServiceErrorFault" name="ApplicationServiceErrorFault" message="tns:IPasswordServiceWCFService_GetHostHospital_ApplicationServiceErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckGuidKey">
      <wsdl:input wsaw:Action="http://tempuri.org/IPasswordServiceWCFService/CheckGuidKey" message="tns:IPasswordServiceWCFService_CheckGuidKey_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPasswordServiceWCFService/CheckGuidKeyResponse" message="tns:IPasswordServiceWCFService_CheckGuidKey_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IPasswordServiceWCFService/CheckGuidKeyApplicationServiceErrorFault" name="ApplicationServiceErrorFault" message="tns:IPasswordServiceWCFService_CheckGuidKey_ApplicationServiceErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckIdKey">
      <wsdl:input wsaw:Action="http://tempuri.org/IPasswordServiceWCFService/CheckIdKey" message="tns:IPasswordServiceWCFService_CheckIdKey_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPasswordServiceWCFService/CheckIdKeyResponse" message="tns:IPasswordServiceWCFService_CheckIdKey_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IPasswordServiceWCFService/CheckIdKeyApplicationServiceErrorFault" name="ApplicationServiceErrorFault" message="tns:IPasswordServiceWCFService_CheckIdKey_ApplicationServiceErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEmpMobile">
      <wsdl:input wsaw:Action="http://tempuri.org/IPasswordServiceWCFService/GetEmpMobile" message="tns:IPasswordServiceWCFService_GetEmpMobile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPasswordServiceWCFService/GetEmpMobileResponse" message="tns:IPasswordServiceWCFService_GetEmpMobile_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IPasswordServiceWCFService/GetEmpMobileApplicationServiceErrorFault" name="ApplicationServiceErrorFault" message="tns:IPasswordServiceWCFService_GetEmpMobile_ApplicationServiceErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="BatchGenPwd">
      <wsdl:input wsaw:Action="http://tempuri.org/IPasswordServiceWCFService/BatchGenPwd" message="tns:IPasswordServiceWCFService_BatchGenPwd_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPasswordServiceWCFService/BatchGenPwdResponse" message="tns:IPasswordServiceWCFService_BatchGenPwd_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IPasswordServiceWCFService/BatchGenPwdApplicationServiceErrorFault" name="ApplicationServiceErrorFault" message="tns:IPasswordServiceWCFService_BatchGenPwd_ApplicationServiceErrorFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPasswordServiceWCFService" type="tns:IPasswordServiceWCFService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidatePassword">
      <soap:operation soapAction="http://tempuri.org/IPasswordServiceWCFService/ValidatePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ApplicationServiceErrorFault">
        <soap:fault use="literal" name="ApplicationServiceErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ValidatePasswordWeb">
      <soap:operation soapAction="http://tempuri.org/IPasswordServiceWCFService/ValidatePasswordWeb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ApplicationServiceErrorFault">
        <soap:fault use="literal" name="ApplicationServiceErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ResetPassword">
      <soap:operation soapAction="http://tempuri.org/IPasswordServiceWCFService/ResetPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ApplicationServiceErrorFault">
        <soap:fault use="literal" name="ApplicationServiceErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="InitPassword">
      <soap:operation soapAction="http://tempuri.org/IPasswordServiceWCFService/InitPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ApplicationServiceErrorFault">
        <soap:fault use="literal" name="ApplicationServiceErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ModifyPassword">
      <soap:operation soapAction="http://tempuri.org/IPasswordServiceWCFService/ModifyPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ApplicationServiceErrorFault">
        <soap:fault use="literal" name="ApplicationServiceErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetHostHospital">
      <soap:operation soapAction="http://tempuri.org/IPasswordServiceWCFService/GetHostHospital" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ApplicationServiceErrorFault">
        <soap:fault use="literal" name="ApplicationServiceErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CheckGuidKey">
      <soap:operation soapAction="http://tempuri.org/IPasswordServiceWCFService/CheckGuidKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ApplicationServiceErrorFault">
        <soap:fault use="literal" name="ApplicationServiceErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CheckIdKey">
      <soap:operation soapAction="http://tempuri.org/IPasswordServiceWCFService/CheckIdKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ApplicationServiceErrorFault">
        <soap:fault use="literal" name="ApplicationServiceErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetEmpMobile">
      <soap:operation soapAction="http://tempuri.org/IPasswordServiceWCFService/GetEmpMobile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ApplicationServiceErrorFault">
        <soap:fault use="literal" name="ApplicationServiceErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="BatchGenPwd">
      <soap:operation soapAction="http://tempuri.org/IPasswordServiceWCFService/BatchGenPwd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ApplicationServiceErrorFault">
        <soap:fault use="literal" name="ApplicationServiceErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PasswordServiceWCFService">
    <wsdl:port name="BasicHttpBinding_IPasswordServiceWCFService" binding="tns:BasicHttpBinding_IPasswordServiceWCFService">
      <soap:address location="http://intraap.server.kmuh.org.tw/WEB/PasswordService/PasswordServiceWCFService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>