Core/EduActivity.Core/Service References/PasswordService/PasswordServiceWCFService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://KMUGPasswordService/ValidatePasswordReturnCollect" elementFormDefault="qualified" targetNamespace="http://KMUGPasswordService/ValidatePasswordReturnCollect" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://intraap.server.kmuh.org.tw/WEB/PasswordService/PasswordServiceWCFService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KMUH.PasswordService.ApplicationLayer.DTO.SystemAPI.StructureClass" />
  <xs:complexType name="ValidatePasswordReturnCollect">
    <xs:sequence>
      <xs:element minOccurs="0" name="CheckResult" type="xs:boolean" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/KMUH.PasswordService.ApplicationLayer.DTO.SystemAPI.StructureClass" minOccurs="0" name="AuthLevel" type="q1:EnumClass.EnumResultAuthPasswordLevel" />
      <xs:element minOccurs="0" name="ValidateDateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ShowMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SystemMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ActionMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ActionReason" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValidatePasswordReturnCollect" nillable="true" type="tns:ValidatePasswordReturnCollect" />
</xs:schema>