Core/EduActivity.Core/Service References/PasswordService/PasswordServiceWCFService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://KMUGPasswordService/PasswordChange" elementFormDefault="qualified" targetNamespace="http://KMUGPasswordService/PasswordChange" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ModifyPasswordReturnCollect">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsModifyDone" type="xs:boolean" />
      <xs:element minOccurs="0" name="ShowMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SystemMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ModifyPasswordReturnCollect" nillable="true" type="tns:ModifyPasswordReturnCollect" />
</xs:schema>