Core/EduActivity.Core/Service References/PasswordService/PasswordServiceWCFService8.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://KMUGPasswordService/PasswordReset" elementFormDefault="qualified" targetNamespace="http://KMUGPasswordService/PasswordReset" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ResetPasswordReturnCollect">
    <xs:sequence>
      <xs:element minOccurs="0" name="EmailTo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmpCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExpireDateTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IsResetDone" type="xs:boolean" />
      <xs:element minOccurs="0" name="ResetURL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShowMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SystemMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValidateURL" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResetPasswordReturnCollect" nillable="true" type="tns:ResetPasswordReturnCollect" />
</xs:schema>